Source: flintplusplus
Section: devel
Priority: optional
Maintainer: Aaron D. Marasco <github-flintplusplus@marascos.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/AaronDMarasco/FlintPlusPlus
Vcs-Git: https://github.com/AaronDMarasco/FlintPlusPlus.git

Package: flintplusplus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: static code analyzer for c++
 A Cross-Platform Port of Facebook's C++ Linter
